<h1 align="center"> Estadísticas de empleo por sectores</h1>
<table>
	<thead></thead>
	<tbody>
		<tr>
			<td WIDTH="170" HEIGHT="50" align="center">
				<button
					class="btn btn-primary btn-xs"
					ng-click="loadProvinceEmployments()"
					value="load"
    			>Iniciar base datos</button>
			</td>
			<td WIDTH="170" HEIGHT="50" align="center">
				<button
        			class="btn btn-danger" 
        			ng-click="deleteProvinceEmployments()"
    			>Borrar base datos</button> 	
			</td>
			<td WIDTH="170" HEIGHT="50" align="center">
				<button
					class="btn btn-info btn-xs"
        			ng-click="reset()"
    			>Todos los datos</button>
			</td>
			<td  WIDTH="170" HEIGHT="50" align="center">
				<button
        			class="btn btn-info btn-xs"
        			ng-click="pagingEmployments()"
    			>Paginar datos</button>
			</td>
			<td WIDTH="600" HEIGHT="50">
    			<div class="alert alert-success">
					<h5>Estado: {{status}}</h5>
				</div>			
			</td>
		</tr>
	</tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Provincia</th>
            <th>Año</th>
            <th>Industria</th>
            <th>Construcción</th>
            <th>Servicios</th>
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="provinceEmployment in provinceEmployments">
            <td><a href="#!/ui/v1/province-employments/edit/{{ provinceEmployment.province }}/{{ provinceEmployment.year }}">{{ provinceEmployment.province }}</a></td>
            <td>{{ provinceEmployment.year }}</td>
            <td>{{ provinceEmployment.industryEmployment }}</td>
            <td>{{ provinceEmployment.buildingEmployment }}</td>           
            <td>{{ provinceEmployment.servicesEmployment }}</td>           
            <td>
                <button
                    class="btn btn-danger"
                    ng-click="deleteProvinceEmployment(provinceEmployment.province,provinceEmployment.year)";
                    value="delete"
                >Eliminar</button>
            </td>
        </tr>
        <tr>
            <td>
                <input
                    class="form-control" 
                    ng-model="newProvinceEmployment.province"
                />
            </td>
            <td>
                <input
                    class="form-control"
                    ng-model="newProvinceEmployment.year"
                />
            </td>
           <td>
                <input
                    class="form-control" 
                    ng-model="newProvinceEmployment.industryEmployment"
                />
            </td>
            <td>
                <input
                    class="form-control" 
                    ng-model="newProvinceEmployment.buildingEmployment"
                />
            </td>
            <td>
                <input
                    class="form-control" 
                    ng-model="newProvinceEmployment.servicesEmployment"
                />
            </td>
            <td>
                <button
                    class="btn btn-primary"
                    ng-click="addProvinceEmployment()"
                    value="add"
                >Añadir</button>
            </td>
        </tr>
    </tbody>
</table>

<table class="table">
	<thead>
		<label>
    		<h5>Consulta de empleos por provincia o año:</h5>
		</label>
		<tr>
			<th>Provincia / Año</th>
		</tr>
		<tr>
			<td WIDTH="200" HEIGHT="50" align="center">
				<select style="width: 100%" class="form-control" ng-model="provinceYear">
					<option value="" disabled selected>Campo Busqueda</option>
					<option value="province">Provincia</option>
					<option value="year">Año</option>					
				</select>	
			</td>
			<td WIDTH="300" HEIGHT="50" align="center">
				<input 
					class="form-control"
					name=""
					ng-model="data"
				/>			
			</td>
			<td>
				<button
                    class="btn btn-primary btn-xs"
                    ng-click="searchByProvinceOrYear()"
                >Buscar</button>
			</td>
		</tr>



<table class="table">
	<thead>
		<label>
    		<h5>Consulta de empleos personalizada:</h5>
		</label>
		<tr>
            <th>Provincia</th>
            <th>Otro campo</th>
            <th>Desde:</th>
            <th>Hasta:</th>
            <th></th> 
        </tr>		
	</thead>
	<tbody>		
		<tr>
			<td WIDTH="300" HEIGHT="50">
				<input 
					class="form-control"
					name=""
					ng-model="province"
				/>
			</td>
			<td WIDTH="200" HEIGHT="50">
				<select style="width: 100%" class="form-control" ng-model="other">
					<option value="" disabled selected>Campo Busqueda</option>
					<option value="year">Año</option>
					<option value="industryEmployment">Industria</option>
					<option value="buildingEmployment">Construccion</option>
					<option value="servicesEmployment">Servicios</option>
				</select>	
			</td>
			<td WIDTH="200" HEIGHT="50">
				<input 
					class="form-control"
					name="" 
					ng-model="from"
				/>
			</td>
            <td WIDTH="200" HEIGHT="50">
				<input 
					class="form-control"
					name=""
					ng-model="to"
				/>		
			</td>
			<td>
				<button
                    class="btn btn-primary btn-xs"
                    ng-click="searchByOther()"
                >Buscar</button>
			</td>
			<td>
				<button
        			class="btn btn-info btn-xs"
        			ng-click="pagingEmployments()"
    			>Paginar busqueda</button>
			</td>
		</tr>	
	</tbody>
</table>

<table class="table">
	<thead></thead>
	<tbody>
		<td>
			<div>
				<p align="center">
				<button
					class="btn btn-secondary"
					ng-click="getBack()"
        			value="back"
    			>Página anterior</button>
				<button
					class="btn btn-secondary" 
					ng-click="getNext()"
					value="next"
				>Página siguiente</button>
			</div> 		
		</td>
    </tbody>
</table>