<h1> Estadísticas de empleo por sectores</h1>
<div>
    <button
        class="btn btn-primary btn-xs"
        ng-click="loadProvinceEmployments()"
        value="load"
    >Datos iniciales</button>
    <button
        class="btn btn-danger" 
        ng-click="deleteProvinceEmployments()"
    >Borrar datos</button>
    <label>
        <h5>Desea los datos paginados?</h5>
    </label>
    <button
        class="btn btn-info btn-xs"
        ng-click="pagingEmployments()"
    >SI</button>
    <button
        class="btn btn-info btn-xs"
        ng-click="unpagingEmployments()"
    >NO</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Provincia</th>
            <th>Año</th>
            <th>Industria</th>
            <th>Construcción</th>
            <th>Servicios</th>
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="provinceEmployment in provinceEmployments">
            <td><a href="#!/ui/v1/province-employments/edit/{{ provinceEmployment.province }}/{{ provinceEmployment.year }}">{{ provinceEmployment.province }}</a></td>
            <td>{{ provinceEmployment.year }}</td>
            <td>{{ provinceEmployment.industryEmployment }}</td>
            <td>{{ provinceEmployment.buildingEmployment }}</td>           
            <td>{{ provinceEmployment.servicesEmployment }}</td>           
            <td>
                <button
                    class="btn btn-danger"
                    ng-click="deleteProvinceEmployment(provinceEmployment.province,provinceEmployment.year)";
                    value="delete"
                >Eliminar</button>
            </td>
        </tr>
        <tr>
            <td>
                <input
                    class="form-control" 
                    ng-model="newProvinceEmployment.province"
                />
            </td>
            <td>
                <input
                    class="form-control"
                    ng-model="newProvinceEmployment.year"
                />
            </td>
           <td>
                <input
                    class="form-control" 
                    ng-model="newProvinceEmployment.industryEmployment"
                />
            </td>
            <td>
                <input
                    class="form-control" 
                    ng-model="newProvinceEmployment.buildingEmployment"
                />
            </td>
            <td>
                <input
                    class="form-control" 
                    ng-model="newProvinceEmployment.servicesEmployment"
                />
            </td>
            <td>
                <button
                    class="btn btn-primary"
                    ng-click="addProvinceEmployment()"
                    value="add"
                >Añadir</button>
            </td>
        </tr>
    </tbody>
</table>
<table class="table">
    </tbody>
        <tr>
            <td>
                <div class="col-sm" style="background-color:lightblue;">
                    <label for="">
                        Búsqueda por años. Desde:
                    <input
                        class="text-center" name="" ng-model="fromYear"
                    />
                    <label for=""> 
                        hasta:
                    </label>
                    <input 
                        class="text-center" type="text" ng-model="toYear"
                    />
                    <button
                        class="btn btn-primary btn-xs"
                        ng-click="searchByYear()"
                    >Buscar</button>
                    </label>
                </div>
            </td>
            <td>
                <div class="col-sm" style="background-color:lightblue;">
                    <label>
                        Búsqueda por provincia: 
                        <input class="form-control text-center" size="30" ng-model="searchProvince"/>
                    </label>
                    <button
                        class="btn btn-primary btn-xs"
                        ng-click="searchByProvince()"
                    >Buscar</button>
                </div> 
            </td>
        </tr>
        <tr>
            <td>
                <div class="alert alert-success">
                    <h4>Estado: {{status}}</h4>
                </div>
            </td>
            <td>
                <div>
                    <p align="center">
                        <button
                            class="btn btn-secondary"
                            ng-click="getBack()"
                            value="back"
                        >Página anterior</button>
                        <button
                            class="btn btn-secondary" 
                            ng-click="getNext()"
                            value="next"
                        >Página siguiente</button>
                </div> 
            </td>
        </tr>
    </tbody>
</table>
